header {
    min-height: 160px;
}

.header {
    $this: &;

    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out;

    &__logo {
        width: 50%;
        margin-left: -50px;
    }

    &__links {
        display: none;
    }
    
    &__link {
        position: relative;
        text-decoration: none;
        color: $color-black;
        transition: color 0.3s ease-in-out;
        font-weight: 700;
        overflow: hidden;
        padding: 10px 0;

        &:hover {
            color: $color-bronco;
            &:after {
                transition: transform 0.7s;
                transform: translateX(100%);
            }
        }

        &:after {
            content: '';
            height: 2px;
            width: 100%;
            background-color: $color-bronco;
            position: absolute;
            top: 30px;
            left: 0;
            transform: translateX(-101px);
        }
    }

    &--top {
        background-color: transparent;
    }

    &--not-top {
        background-color: $color-scarpa-flow;
        
        #{$this}__link {
            color:white;

            &:hover {
                color: $color-bronco;
            }
        }
    }


    @include breakpoint($breakpoint-tablet-min) {
        
        &__logo {
            width: 70%;
        }
    }

    @include breakpoint($breakpoint-desktop) {

        &__container {
            padding: 0 40px;
        }    

        &__links {
            display: flex;
            width: 30%;
            margin: 0 120px;
            justify-content: space-around;
        }  

        &--not-top {
            color: $color-white;
        }
    }
}

