.header {
    $this: &;

    display: flex;
    min-height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s ease-in-out;

    &__logo {
        width: 50%;
        margin: 0 60px;
    }

    &__links {
        display: none;
    }
    
    &__link {
        text-decoration: none;
        color: $color-black;
        transition: color 0.3s ease-in-out;
        font-weight: 700;

        &:hover {
            color: $color-bronco;
        }
    }

    &--top {
        background-color: transparent;
    }

    &--not-top {
        background-color: $color-scarpa-flow;
        
        #{$this}__link {
            color:white;

            &:hover {
                color: $color-bronco;
            }
        }
    }


    @include breakpoint($breakpoint-tablet-min) {
        
        &__logo {
            width: 70%;
        }
    }

    @include breakpoint($breakpoint-desktop) {
        &__links {
            display: flex;
            width: 30%;
            margin: 0 120px;
            justify-content: space-around;
        }  

        &--not-top {
            color: $color-white;
        }
    }
}