.background {

    &--white {
        background-color: $color-white;
    }

    &--black {
        background-color: $color-black;
    }

    &--grey {
        background-color: $color-scarpa-flow;
    }
}