//Basic Colors
$color-white: #E7E7E4;
$color-black: #1D1C1B;

//Main Color Palette
$color-scarpa-flow: #5D5C61;
$color-lochinvar: #379683;
$color-bermuda-gray:#7395AE;
$color-bermuda-gray-translucid: rgba(115, 149, 174, 0.9);
$color-smalt-blue: #557A95;
$color-bronco: #B1A296;